# Build files
.deps
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
compton
*.o
_CPack_Packages
build
compton-*.deb
compton-*.rpm
compton-*.tar.bz2

# Vim files
.*.sw[a-z]
*~

# Misc files
core
oprofile_data
compton.plist
