# Build files
.deps
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
compton
*.o
*.d
build/
compile_commands.json
build.ninja

# ccls
.ccls-cache

# CMake files
compton-*.deb
compton-*.rpm
compton-*.tar.bz2
release/
_CPack_Packages/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CPackSourceConfig.cmake
install_manifest.txt


# Vim files
.sw[a-z]
.*.sw[a-z]
*~

# Misc files
core.*
.gdb_history
oprofile_data/
compton.plist
callgrind.out.*
man/*.html
man/*.1
doxygen/
.clang_complete
.ycm_extra_conf.py
.ycm_extra_conf.pyc
/src/backtrace-symbols.[ch]
/compton*.trace
*.orig
