[Desktop Entry]
Version=1.0
Type=Application
Name=compton
GenericName=X compositor
Comment=A X compositor
Categories=Utility;
TryExec=compton
Exec=compton
Icon=compton
# Thanks to quequotion for providing this file!
