[Desktop Entry]
Version=1.0
Type=Application
NoDisplay=false
Name=picom
GenericName=X compositor
Comment=An X compositor
Categories=Utility;
Keywords=compositor;composite manager;window effects;transparency;opacity;
TryExec=picom
Exec=picom
# Thanks to quequotion for providing this file!
Icon=picom
